<!-- MAIN BACKGROUND COVER -->
<section id='home'>

	<div class='home-overlay'></div>

	<div class='intro'>

		<div class='start'>Hi, my name is Gregory and i'm a</div>

		<h1 class='wow bounce animated'>Full-Stack Web Developer</h1>

		<div class='start'>creating amazing applications.</div>

	</div>

	<a href="#">
		<div class='scroll-down'>
			<span>
				<i class='fa fa-angle-down fa-2x'></i>
			</span>
		</div>
	</a>

</section>



<!-- HEADER -->
<div id='undefined-sticky-wrapper' class='sticky-wrapper is-sticky'>

	<header class='header'>

		<nav class='navbar navbar-custom' role='navigation'>

			<div class='container'>
				<div class='navbar-header'>

					<a class='navbar-brand' href="#">Greg Hasenauer</a>

				</div>

				<div class='navbar-collapse collapse in'>
					<ul class='nav navbar-nav navbar-right'>
						<li class='active'>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Services</a>
						</li>
						<li>
							<a href="#">Market</a>
						</li>
						<li>
							<a href="#">Skills</a>
						</li>
					</ul>
				</div>
			</div>

		</nav>

	</header>

</div>



<!-- SERVICES WHAT I DO -->
<section id='services'>

	<div class='container'>
		<div class='row'>

			<div class='col-sm-6 col-sm-offset-3 col-custom'>
				<div class='wow service-header fadeInDown' data-wow-iteration="infinite">

					<h2 class='service-title'>Principles On Point</h2>

					<div class='half-rule'></div>

					<div class='service-subtitle'>Problem Solving Software Engineer.</div>

				</div>

  			</div>

		</div>

		<div class='row'>
			
			<div class='col-sm-3'>
				<div class='iconbox wow slideInLeft animated'>
					<div class='iconbox-icon'>
						<span class='fa fa-heartbeat'></span>
					</div>
					<div class='iconbox-text'>
						<h3 class='iconbox-title'>Web Applications</h3>
						<div class='iconbox-desc'>Best practices for dynamic standards</div>
					</div>
				</div>
			</div>

			<div class='col-sm-3'>
				<div class='iconbox wow slideInLeft animated'>
					<div class='iconbox-icon'>
						<span class='fa fa-heartbeat'></span>
					</div>
					<div class='iconbox-text'>
						<h3 class='iconbox-title'>Web Applications</h3>
						<div class='iconbox-desc'>Best practices for dynamic standards</div>
					</div>
				</div>
			</div>

			<div class='col-sm-3'>
				<div class='iconbox wow slideInLeft animated'>
					<div class='iconbox-icon'>
						<span class='fa fa-heartbeat'></span>
					</div>
					<div class='iconbox-text'>
						<h3 class='iconbox-title'>Web Applications</h3>
						<div class='iconbox-desc'>Best practices for dynamic standards</div>
					</div>
				</div>
			</div>

			<div class='col-sm-3'>
				<div class='iconbox wow slideInLeft animated'>
					<div class='iconbox-icon'>
						<span class='fa fa-heartbeat'></span>
					</div>
					<div class='iconbox-text'>
						<h3 class='iconbox-title'>Web Applications</h3>
						<div class='iconbox-desc'>Best practices for dynamic standards</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</section>



<!-- PROJECTS -->
<section id='projects'>
	
	<div class='container'>

		<!-- Next Row -->
		<div class='row'>
			<div class='col-sm-6 col-sm-offset-3'>
				<div class='service-header'>
					
					<h2 class='service-title'>My Current Projects</h2>	
					<div class='half-rule' style='background-color:black;'></div>

					<div class='service-subtitle'>Designed, Built, Maintained.</div>

				</div>
			</div>
			
		</div>

		<!-- Next Row -->
		<div class='row'>

			<div class='col-xs-12 col-sm-4 col-md-4'>
				<div class='grid wow zoomIn animated'>
					<a href="#">
						<figure class='effect-layla'>
							<%= image_tag('2.jpg', class: 'figure-image')%>
							<figcaption>
								<h2>Taco <span>Tuesday</span></h2>
								<p>ELLA</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>

			<div class='col-xs-12 col-sm-4 col-md-4'>
				<div class='grid wow zoomIn animated'>
					<a href="#">
						<figure class='effect-layla'>
							<%= image_tag('12.jpg', class: 'figure-image')%>
							<figcaption>
								<h2>Taco <span>Tuesday</span></h2>
								<p>ELLA</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>

			<div class='col-xs-12 col-sm-4 col-md-4'>
				<div class='grid wow zoomIn animated'>
					<a href="#">
						<figure class='effect-layla'>
							<%= image_tag('11.jpg', class: 'figure-image')%>
							<figcaption>
								<h2>Taco <span>Tuesday</span></h2>
								<p>ELLA</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>

			<div class='col-xs-12 col-sm-4 col-md-4'>
				<div class='grid wow zoomIn animated'>
					<a href="#">
						<figure class='effect-layla'>
							<%= image_tag('5.jpg', class: 'figure-image')%>
							<figcaption>
								<h2>Taco <span>Tuesday</span></h2>
								<p>ELLA</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>

			<div class='col-xs-12 col-sm-4 col-md-4'>
				<div class='grid wow zoomIn animated'>
					<a href="#">
						<figure class='effect-layla'>
							<%= image_tag('6.jpg', class: 'figure-image')%>
							<figcaption>
								<h2>Taco <span>Tuesday</span></h2>
								<p>ELLA</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>

			<div class='col-xs-12 col-sm-4 col-md-4'>

				<div class='grid wow zoomIn animated'>

					<a href="#">

						<figure class='effect-layla'>

							<%= image_tag('9.jpg', class: 'figure-image')%>

							<figcaption>

								<h2>Taco <span>Tuesday</span></h2>
								<p>ELLA</p>

							</figcaption>
						</figure>
					</a>
				</div>
			</div>

		</div>

	</div>

</section>


<!-- CONTACT DIV -->
<section id="contact-break">
	<div class='container'>
		<div class='row'>

			<div class='col-md-12 col-lg-12'>
				
				<h2>Let's Talk Software</h2>

				<div class='contact-break-desc'>I'm available for full-time, contract and freelance opportunities.</br>
				Click Download below to receive the latest copy of my resume.
				</div>

				</br>

				<div class='col-md-12 col-lg-12 contact-break-btn'>
					<a href="#" class='btn btn-lg'>DOWNLOAD</a>
				</div>

			</div>
			
		</div>
	</div>
</section>































