	<!-- MAIN BACKGROUND COVER -->
<section id='home'>

	<div class='home-overlay'></div>

	<div class='intro'>

		<div class='start'>Hi, my name is Gregory and i'm a</div>

		<h1>
			<span class='wow bounce animated' data-wow-delay='.2s'><span style='color:#23C9FF;'>F</span>ull</span>-<span class='wow bounce animated' data-wow-delay='.3s'><span style='color:#82E5A5;'>S</span>tack</span> <span class='wow bounce animated' data-wow-delay='.4s'><span style='color:#F3F78C;'>Dev</span>eloper</span>
		</h1>


		<div class='start'>creating amazing applications.</div>

	</div>

	<a href="#">
		<div class='scroll-down'>
			<span>
				<i class='wow fadeInDown fa fa-angle-down fa-2x intro-i' data-wow-iteration="infinite"></i>
			</span>
		</div>
	</a>

</section>



<!-- HEADER -->
<div id='sticker' class='sticky-wrapper is-sticky'>

	<header class='header'>

		<nav class='nav' role='navigation'>

			<div class='container'>
				<div class='navbar-header'>

					<a class='navbar-brand' href="#">Greg Hasenauer</a>

				</div>

				<div class='navbar-collapse collapse in'>
					<ul class='nav navbar-nav navbar-right'>
						<li class='active'>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Services</a>
						</li>
						<li>
							<a href="#">Market</a>
						</li>
						<li>
							<a href="#">Skills</a>
						</li>
					</ul>
				</div>
			</div>

		</nav>

	</header>

</div>



<!-- SERVICES WHAT I DO -->
<section id='services'>

	<div class='container'>
		<div class='row'>

			<div class='col-sm-6 col-sm-offset-3 col-custom'>
				<div class='wow service-header bounceInDown'>

					<h2 class='service-title'>EXPERTISE</h2>

					<div class='half-rule'></div>

					<div class='service-subtitle'>Using problem solving techniques to create innovative and dynamic software.</div>

				</div>

  			</div>

		</div>

		<div class='row'>
			
			<div class='col-sm-3'>
				<div class='iconbox wow slideInLeft animated'>
					<div class='iconbox-icon'>
						<%= image_tag('ruby.jpg', class: 'ruby-img') %>
					</div>
					<div class='iconbox-text'>
						<h3 class='iconbox-title'>Ruby | Rails</h3>
						<div class='iconbox-desc'>Proficient with Ruby and Rails.</div>
					</div>
				</div>
			</div>

			<div class='col-sm-3'>
				<div class='iconbox wow slideInLeft animated'>
					<div class='iconbox-icon'>
						<span class='fa fa-pie-chart'></span>
					</div>
					<div class='iconbox-text'>
						<h3 class='iconbox-title'>Quality Assurance</h3>
						<div class='iconbox-desc'>Testing multiple software platforms.</div>
					</div>
				</div>
			</div>

			<div class='col-sm-3'>
				<div class='iconbox wow slideInRight animated'>
					<div class='iconbox-icon'>
						<span class='fa fa-css3'></span>
					</div>
					<div class='iconbox-text'>
						<h3 class='iconbox-title'>Front-End Design</h3>
						<div class='iconbox-desc'>Specializing UI/UX, CSS, HTML, and JavaScript.</div>
					</div>
				</div>
			</div>

			<div class='col-sm-3'>
				<div class='iconbox wow slideInRight animated'>
					<div class='iconbox-icon'>
						<span class='fa fa-coffee'></span>
					</div>
					<div class='iconbox-text'>
						<h3 class='iconbox-title'>Consulting</h3>
						<div class='iconbox-desc'>Best practices for dynamic standards</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</section>



<!-- PROJECTS -->
<section id='projects'>
	
	<div class='container'>

		<!-- Next Row -->
		<div class='row'>
			<div class='col-sm-6 col-sm-offset-3'>
				<div class='service-header wow zoomIn animate'>
					
					<h2 class='projects-title'>CURRENT PROJECTS</h2>	
					<div class='half-rule' style='background-color:black;'></div>

					<div class='projects-subtitle'>Designed, Built, Maintained.</div>

				</div>
			</div>
			
		</div>

		<!-- Next Row -->
		<div class='row'>

			<div class='col-xs-12 col-sm-4 col-md-4'>
				<div class='grid wow zoomIn animated'>
					<a href="#">
						<figure class='effect-layla'>
							<%= image_tag('21.jpg', class: 'figure-image')%>
							<figcaption>
								<h2>Coming <span>Soon</span></h2>
								<p>FoodFeedBack</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>

			<div class='col-xs-12 col-sm-4 col-md-4'>
				<div class='grid wow zoomIn animated'>
					<a href="#">
						<figure class='effect-layla'>
							<%= image_tag('22.jpg', class: 'figure-image')%>
							<figcaption>
								<h2>Coming <span>Soon</span></h2>
								<p>BackCourtDribble</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>

			<div class='col-xs-12 col-sm-4 col-md-4'>
				<div class='grid wow zoomIn animated'>
					<a href="#">
						<figure class='effect-layla'>
							<%= image_tag('23.jpg', class: 'figure-image')%>
							<figcaption>
								<h2>Coming <span>Soon</span></h2>
								<p>SupportGG</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>

			<div class='col-xs-12 col-sm-4 col-md-4'>
				<div class='grid wow zoomIn animated'>
					<a href="#">
						<figure class='effect-layla'>
							<%= image_tag('24.jpg', class: 'figure-image')%>
							<figcaption>
								<h2>Coming <span>Soon</span></h2>
								<p>VictoryGG</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>

			<div class='col-xs-12 col-sm-4 col-md-4'>
				<div class='grid wow zoomIn animated'>
					<a href="#">
						<figure class='effect-layla'>
							<%= image_tag('8.jpg', class: 'figure-image')%>
							<figcaption>
								<h2>Coming <span>Soon</span></h2>
								<p>Coming Soon</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>

			<div class='col-xs-12 col-sm-4 col-md-4'>

				<div class='grid wow zoomIn animated'>

					<a href="#">

						<figure class='effect-layla'>

							<%= image_tag('10.jpg', class: 'figure-image')%>

							<figcaption>

								<h2>Coming <span>Soon</span></h2>
								<p>Coming Soon</p>

							</figcaption>
						</figure>
					</a>
				</div>
			</div>

		</div>

	</div>

</section>

<!-- PICTURE WITH FIXED ATTACHMENT -->
<section id='background-fixed-pic'>
</section>


<!-- BETWEEN PICS INFO -->
<section id='contact-info'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-12 col-lg-12'>
				<h2>Let's Talk Software</h2>
				<p>I'm looking for full-time & contract opportunities.<br>Click Download below to receive the latest copy of my resume.</p>
			</div>
			<div class='col-md-12 col-lg-12'>
				<a href="" class='resume-btn btn btn-lg'>Download</a>
			</div>
		</div>
	</div>
</section>

<!-- CONTACT DIV -->
<section id="contact-break">
</section>

<!-- SUBMIT MESSAGE -->
<section id="sub-msg">
	<div class='container'>

		<div class='row'>
			<div class='col-sm-6 col-sm-offset-3'>
				<div class='service-header'>
					<h2 class='inq-title'>Inquiries</h2>
					<div class='inq-subtitle'>
						Feel free to ask me any questions!
					</div>
				</div>
			</div>
		</div>		

		<div class='row'>
			<div class='col-sm-6 col-sm-offset-3'>
				<form id='contact-form'>

					<div class='ajax-hidden'>

						<div class='form-group wow fadeInUp animated'>
							<label class='sr-only'>Name</label>
							<input type='text' class='form-control' placeholder='Name'>
						</div>

						<div class='form-group wow fadeInUp animated'>
							<label class='sr-only'>Email</label>
							<input type='text' class='form-control' placeholder='E-Mail'>
						</div>

						<div class='form-group wow fadeInUp animated'>
							<textarea class='form-control' placeholder='Message' rows='7'></textarea>
						</div>

						<button type='submit' class='btn btn-lg btn-block wow fadeInUp animated'>Send Message</button>

					</div>

				</form>
			</div>
		</div>

	</div>
</section>


<!-- FOOTER -->
<section id='footer'>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-12'>
				<ul class='social-links'>

					<li>
						<a href="" class='wow fadeInUp' data-wow-delay='.4s'>
							<i class='fa fa-facebook'></i>
						</a>
					</li>
					<li>
						<a href="" class='wow fadeInUp' data-wow-delay='.3s'>
							<i class='fa fa-twitter'></i>
						</a>
					</li>
					<li>
						<a href="" class='wow fadeInUp' data-wow-delay='.2s'>
							<i class='fa fa-linkedin'></i>
						</a>
					</li>
					<li>
						<a href="" class='wow fadeInUp' data-wow-delay='.1s'>
							<i class='fa fa-github'></i>
						</a>
					</li>
				</ul>

				<p class='author'>Gregory Hasenauer</p>
				<p class='copyright'>Full-Stack Engineer</p>
					
			</div>
		</div>
	</div>
</section>



























