<!-- <section id='test'>
	<div class='container'>

		<div class='static'>STATIC</div>
		<div class='relative'>RELATIVE</div>
		<div class='absolute'>ABSOLUTE</div>
		<div class='fixed'>FIXED</div>
		
	</div>
</section> -->



<!-- 
<%= form_for Contact.new do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_field :message %>
  </div>

  <div class="actions">
    <%= f.submit 'Send', class: 'button' %>
  </div>

<% end %> -->

<!-- <div class='parallax-container' data-parallax="scroll" data-bleed="10" data-image-src='1.jpg'>asdfasfasdfasd</div>

<div class='parallax-window' data-parallax='scroll'>
  <%= image_tag('1.jpg', class: 'parallax-window') %>
</div>



<div class="parallax-window" data-parallax="scroll" data-image-src="2.jpg"></div> -->


<div data-0="background-color:rgb(0,0,255);transform:rotate(0deg);" data-500="background-color:rgb(255,0,0);transform:rotate(360deg);">WOOOT</div>